:root {
    --warm-black-color: #004242;
    --teal-blue-color:  #367588;
    --air-force-blue:   #5D8AA8;
    --white-color:      #FFFFFF;
    --black-color:      #000000;
    --light-gray-color: #DAD6D6;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Header */

header {
    background: #5D8AA8;
    height: 100vh;
    width: 100%
}

nav {
    background: linear-gradient(180deg, #07ecec, #5D8AA8 100%);
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    z-index: 100;
}

.btn {
    padding: 10px 20px;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}

.btn.dark {
    background: var(--warm-black-color);
}

.btn.home-icon::before {
    content: url("../images/home_icon.svg");
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 24px; /* Adjust width to match your SVG icon */
    height: 24px; /* Adjust height to match your SVG icon */
}

.btn.home-icon {
    padding-left: 50px;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: medium;
}

/* Hero Section */

.hero-section {
    display: flex;
    height: 75vh;
    width: 90%;
    margin: 5%;
}

.hero-section .left{
    background-color: #367588;
    position: absolute;
    left: 5%;
    top: 18.5%;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    height: 75vh;
    width: 33%;
}

.hero-section .right{
    background-color: #004242;
    position: absolute;
    left: 33%;
    top: 18.5%;
    border-radius: 24px;
    height: 75vh;
    width: 61%;
}

.hero-section .left h1{
    margin-left: 100px;
    font-family: "Sedan", sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    color: #fff;
}

.hero-section .right h1{
    margin-top: -120px;
    margin-left: -50px;
    font-family: "Inter", sans-serif;
    color: var(--light-gray-color);
}

.hero-section .right form .fname input[type="text"]{
    position: absolute;
    font-size: medium;
    top: 25%;
    left: 5%;
    width: 40%;
    height: 7.8%;
    background-color: #004242;
    border-color: #DAD6D6;
    border-radius: 10px;
    border-style: solid;
    box-shadow: none;
    color: #fff;
    outline: none;
    padding: 0 1%;
}

.hero-section .right form .fname .tag{
    position: absolute;
    top: 22.5%;
    left: 7%;
    padding: 5px;
    font-size: medium;
    background-color: #004242;
    border-color: #DAD6D6;
    color: #fff;
    z-index: 1;
}

.hero-section .right form .lname input[type="text"]{
    position: absolute;
    font-size: medium;
    top: 25%;
    left: 50%;
    width: 40%;
    height: 7.8%;
    background-color: #004242;
    border-color: #DAD6D6;
    border-radius: 10px;
    border-style: solid;
    box-shadow: none;
    color: #fff;
    outline: none;
    padding: 0 1%;
}

.hero-section .right form .lname .tag{
    position: absolute;
    top: 22.5%;
    left: 52%;
    padding: 5px;
    font-size: medium;
    background-color: #004242;
    border-color: #DAD6D6;
    color: #fff;
    z-index: 1;
}

.hero-section .right form .email input[type="email"]{
    position: absolute;
    font-size: medium;
    top: 37.5%;
    left: 5%;
    width: 40%;
    height: 7.8%;
    background-color: #004242;
    border-color: #DAD6D6;
    border-radius: 10px;
    border-style: solid;
    box-shadow: none;
    color: #fff;
    outline: none;
    padding: 0 1%;
}

.hero-section .right form .email .tag{
    position: absolute;
    top: 35%;
    left: 7%;
    padding: 5px;
    font-size: medium;
    background-color: #004242;
    border-color: #DAD6D6;
    color: #fff;
    z-index: 1;
}

.hero-section .right form .username input[type="text"]{
    position: absolute;
    font-size: medium;
    top: 37.5%;
    left: 50%;
    width: 40%;
    height: 7.8%;
    background-color: #004242;
    border-color: #DAD6D6;
    border-radius: 10px;
    border-style: solid;
    box-shadow: none;
    color: #fff;
    outline: none;
    padding: 0 1%;
}

.hero-section .right form .username .tag{
    position: absolute;
    top: 35%;
    left: 52%;
    padding: 5px;
    font-size: medium;
    background-color: #004242;
    border-color: #DAD6D6;
    color: #fff;
    z-index: 1;
}

.hero-section .right form .password input[type="password"]{
    position: absolute;
    font-size: medium;
    top: 50%;
    left: 5%;
    width: 40%;
    height: 7.8%;
    background-color: #004242;
    border-color: #DAD6D6;
    border-radius: 10px;
    border-style: solid;
    box-shadow: none;
    color: #fff;
    outline: none;
    padding: 0 1%;
}

.hero-section .right form .password .tag{
    position: absolute;
    top: 47.5%;
    left: 7%;
    padding: 5px;
    font-size: medium;
    background-color: #004242;
    border-color: #DAD6D6;
    color: #fff;
    z-index: 1;
}

.hero-section .right form .confpassword input[type="password"]{
    position: absolute;
    font-size: medium;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 7.8%;
    background-color: #004242;
    border-color: #DAD6D6;
    border-radius: 10px;
    border-style: solid;
    box-shadow: none;
    color: #fff;
    outline: none;
    padding: 0 1%;
}

.hero-section .right form .confpassword .tag{
    position: absolute;
    top: 47.5%;
    left: 52%;
    padding: 5px;
    font-size: medium;
    background-color: #004242;
    border-color: #DAD6D6;
    color: #fff;
    z-index: 1;
}

.hero-section .right form .submit{
    padding: 10px 20px;
    border-radius: 24px;
    color: #DAD6D6;
    background-color: #367588;
    border-style: solid;
    font-weight: bold;
    font-size: 18px;
    width: 85%;
    position: absolute;
    top: 62.5%;
    left: 5%;
}

.hero-section .right h1 {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 36%;
    transform: translateY(-50%);
}

.hero-section .picture img {
    position: absolute;
    top: 40%;
    left: 6.5%;
    width: 36%;
}