{% extends 'base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.css">
    <script type="text/javascript" src="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.js"></script>
</head>
<div class="container my-5">
    <h2>Edit Daily Prices</h2>

    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="row g-3">
            {% if form.non_field_errors %}
            <div class="col-md-12">
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            </div>
            {% endif %}
            {% for field in form %}
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                    <div class="form-text">{{ field.help_text }}</div>
                    {% endif %}
                    {% if field.errors %}
                    <div class="invalid-feedback d-block">
                        {{ field.errors|striptags }}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

<script>
    (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    } else {
                        var jalaliDate = document.querySelector('input[name="date"]').value;
                        if (jalaliDate) {
                            var formattedDate = jalaliDate.replace(/\//g, '-');
                            document.querySelector('input[name="date"]').value = formattedDate;
                        }
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })();
    jalaliDatepicker.startWatch();
</script>
{% endblock %}
