{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md">
            <h4>Search Shares</h4>
            <form method="get" class="mb-3">
                <div class="input-group">
                    <input type="text" name="search" value="{{ search_query }}" class="form-control" placeholder="Search by symbol...">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
            {% render_table table %}
        </div>
    </div>
</div>
{% endblock %}
